@charset "UTF-8";

@font-face {
  font-family: "gestiona";
  src:url("../fonts/gestiona.eot");
  src:url("../fonts/gestiona.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gestiona.woff") format("woff"),
    url("../fonts/gestiona.ttf") format("truetype"),
    url("../fonts/gestiona.svg#gestiona") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gestiona" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gestiona" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-luz:before {
  content: "\61";
}
.icon-comentario:before {
  content: "\62";
}
.icon-usuarios:before {
  content: "\63";
}
.icon-pantalla:before {
  content: "\64";
}
